@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {

    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;

}

html,
body {

    min-height: 100vh;

    background-color: wheat;

    font-family: 'Raleway', sans-serif;

}

.app__title {

    text-align: center;

    padding: 2em;

}

.app__title h1 {

    font-size: 5em;

}

.app__title p {

    margin-top: 3em;

    font-size: 1.5em;

}

.app__products {

    max-width: 80vw;
    display: grid;
    justify-items: center;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;

    margin: 5% 0 5%;
    margin-left: 10%;

}

.app__product-container {

    background-color: #D7E1EB;

    padding: 0 1em 0;
    border-radius: 1em;

    box-shadow: 1px 11px 21px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 11px 21px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 11px 21px -3px rgba(0, 0, 0, 0.75);

    transition: .5s;

}

.app__product-container:hover {

    background-color: #d7e1ebb4;

    transform: scale(1.1);

}

.app__product-container h1 {

    width: 100%;

    text-align: center;

    margin: 1.5em 0 1.5em;

}

.app__product-container img {

    width: 100%;
    height: 40vh;
    object-fit: contain;

}

.app__product-container p {

    width: 100%;

    text-align: start;

    padding: 1em;

}

.app__product-container h4 {

    width: 100%;

    text-align: center;

    margin-top: .5em;

}

.app__product-button-container {

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 1.5em 0 1.5em;

}

.app__product-button-container button {

    background-color: wheat;
    
    width: 30%;
    height: 3em;

    font-size: 1em;

    cursor: pointer;
    transition: .6s;

}

.app__product-button-container button:hover {

    background-color: rgba(7, 7, 7, 0.5);
    border: 3px solid black;
    color: white;

}

.app__product-button-vermas {

    background-color: rgba(255, 102, 0, 0.8) !important;

}

.app__product-button-vermas:hover {

    background-color: rgba(7, 7, 7, 0.5) !important;

}

.app__footer h2 {

    font-weight: 400;

    text-align: center;

    padding: 3em;

}

@media screen and (max-width: 1440px) {

    .app__products {

        max-width: 90vw;

        margin-left: 5%;

        grid-template-columns: 1fr 1fr;

    }

}

@media screen and (max-width: 720px) {

    .app__title h1 {

        font-size: 3em;
    
    }

    .app__title p {

        margin-top: 1.5em;
    
    }

    .app__products {

        max-width: 100vw;

        margin: 5%;

        grid-template-columns: 1fr;

    }

    .app__product-container p {
    
        text-align: center;
    
    }

    .app__product-button-container button {

        font-size: 0.9em;
    
    }

}